/* # Genesis Sample Child Theme with Sass
Theme Name: Genesis Sample Theme Sass
Theme URI: http://my.studiopress.com/themes/genesis/
Description: This is the sample theme created for the Genesis Framework.
Author: StudioPress
Author URI: http://www.studiopress.com/
Template: genesis
Template Version: 2.1.2
Tags: black, orange, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, custom-menu, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
*/

@import 'partials/variables';
@import 'partials/colors';
@import 'partials/mixins';

/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

@import 'partials/reset';

/* # Defaults
---------------------------------------------------------------------------------------------------- */

@import 'partials/defaults';

/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

@import 'partials/structure-layout';

/* # Common Classes
---------------------------------------------------------------------------------------------------- */

@import 'partials/common-classes';

/* # Widgets
---------------------------------------------------------------------------------------------------- */

@import 'partials/widgets';

/* # Plugins
---------------------------------------------------------------------------------------------------- */

@import 'partials/plugins';

/* # Site Header
---------------------------------------------------------------------------------------------------- */

@import 'partials/header';

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

@import 'partials/site-navigation';

/* # Content Area
---------------------------------------------------------------------------------------------------- */

@import 'partials/content-area';

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

@import 'partials/sidebars';

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

@import 'partials/footer-widgets';

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

@import 'partials/site-footer';

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@import 'partials/mediaqueries';
