/* # Table of Contents
- Site Footer
*/

.site-footer {
	background-color: #00265a;
	font-size: 16px;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
	p {
		margin-bottom: 0;
		color: #fff;
	}
	a {
		color: #fff;
	}
}
